@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.Container{
  width: 100%;
  /* max-width: 1050px;  */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px  10px 50px 0px;
  background-color: rgb(66, 66, 66);
}

.body{
  overflow: hidden;
}
.card {
  background-color: rgb(100, 95, 89);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px; 
  padding: 12px; 
  width: 375px;
  height: 180px;
  margin: 6px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img01 {
  width: 230px; /* Adjust the width to make the image larger */
  height: 100%;
  margin-right: 15px; /* Space between image and content */
}

.img01 img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}  

.content {
  background-color: rgb(100, 95, 89);
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 180px;
  border-radius: 6px;
  padding: 8px;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.sec-1, .sec-2, .sec-3 {
  padding: 8px;
  margin-bottom: 8px;
}

.sec-1 a h2 {
  margin-bottom: 4px; 
}

.sec-1 span {
  display: flex;
  align-items: center;
  margin-top: 4px; 
}

.sec-2 span, .sec-3 span {
  margin-bottom: 4px;
  color: rgb(160, 160, 160);
}

.sec-2 a, .sec-3 a {
  margin-top: 4px; 
  color: white;
  text-decoration: none; 
}


/* Section CSS */

.bgSection{
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 300px;
}
.imgSec h1{
  height: 350px;
  font-size: 75px;
  font-weight: bolder;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar CSS */

.Navbar{
  background-color: rgb(171, 171, 171);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Navbar img{
  padding: 15px;
  height: 50px;
  width: 45px;
}
.list01{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px;
  list-style: none;
}
.list01 a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
  padding: 15px;
  overflow: hidden;
}

.navList li:last-child a {
  padding: 10px 20px;
  border: 2px solid rgba(240, 184, 17, 0.854);
  border-radius: 8px;
  color: #000; /* Adjust the text color as needed */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold */
}